*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(232, 232, 232);

}
#nav-Container{
    height: 65px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 17%;
    height: inherit;
    display: flex;
    justify-content: end;
}
.search{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search > input{
    width: 90%;
    height: 35px;
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 5px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(232, 231, 231);
}
.search > i{
    background-color: rgb(232, 231, 231);
    height: 35px;
    width: 30px;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px ;

}
.icons{
    height: inherit;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons > .login{
    display: flex;
    gap: 5px;
}
.login > i:last-child{
    font-size: 10px;
}
.login > p{
    font-family: sans-serif;
}
.d{
    width: 95%;
    margin: auto;
}
.img-1{
    width: 100%;
    margin-top: 20px;
}
header{
    height: 120px;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}
header > div >img{
    height: 60px;
    width: 60px;
}
header > div > p{
    font-family: sans-serif;
    font-size: 12px;
}

.mobiles{
    height: 50px;
}
.topDeals{
    height: 400px;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
.republic{
    width: 100%;
}
.topDeals > div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}
.topDeals > div > h1{
    font-family: sans-serif;
    font-size:22px;
    padding-left: 10px;
}
.topDeals > div > article{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.topDeals > div > article > main{
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.topDeals > div > article > main > div {
   margin-top: 20px; 
  font-family: sans-serif;
  font-size: 12px;
}
.topDeals > div > article > main > div > p:last-child{
    font-weight: bold;
}
.topDeals{
    height: 500px;
    width: 95%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}
.republic{
    width: 100%;
}
.topDeals > div {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topDeals > div > h1{
    font-family: sans-serif;
    font-size:22px;
    padding-left: 10px;
}
.topDeals > div > article{
    display: flex;
    justify-content: space-evenly;
}
.topDeals > div > article > main{
    height: 150px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.topDeals > div > article > main > div > p{
  font-family: sans-serif;
  font-size: 12px;
}
.topDeals > div > article > main > div > p:last-child{
    font-weight: bold;
}  

.a1{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-evenly;
}

.flipkart-footer {
    background: #212121;
    color: #fff;
    margin-top: -10px;
    font-family: Arial, sans-serif;
    height: 400px;
   
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 40px 60px;
    border-bottom: 1px solid #454d5e;
}

.footer-col h4,
.footer-address h4 {
    font-size: 14px;
    color: #878787;
    margin-bottom: 12px;
}

.footer-col a {
    display: block;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-address p {
    font-size: 12px;
    line-height: 1.6;
    color: #fff;
}

.footer-address span {
    color: #2874f0;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons i {
    font-size: 16px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #293c5d;
    font-size: 13px;
    height: 85px;
    margin-top: 10px; 
}

.footer-bottom span {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;

}




